* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to top right, rgb(10, 138, 138), rgb(9, 224, 224));
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

.mt-1 {
  margin-top: 1em;
}

.mt-5 {
  margin-top: 5em;
}

#main {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  background: none;
  outline: none;
  border: 3px solid white;
  color: white;
  padding: 15px 30px;
  transition-duration: 0.2s;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.459);
}

.box {
  display: inline-block;
  background-color: rgb(0, 0, 0, 0.2);
}

.form-control {
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #aaa;
  outline: none;
}

h1 {
  padding-top: 100px;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 5px;
}

h2 {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

p {
  margin: 5px 0 10px 0;
  font-weight: 600;
  font-size: 18px;
}

.text-left {
  text-align: left;
}